* {
    font-family: 'Sour Gummy', sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: #cdd6f4;
}
body {
    background-color: #1e1e2e;
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 90vw;
}

.projects {
    height: auto;
    width: 450px;
    border: #cdd6f4 solid;
    border-radius: 1em;
    padding: 32px;
    padding-top: 10px;
    margin: 20px;
    word-wrap: break-word;
}